.image-marquee {
  width: 30px;
  height: 30px;
  filter: grayscale();
  margin-right: 10rem;
  border-radius: 100%;
}

.selected-logo {
  width: 30px;
  height: 30px;
  margin-right: 10rem;
  border-radius: 100%;
}
